body{
    max-width: 1000px;
    margin: 0 auto;   
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.container {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 400px; 
    background-image: url('../images/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 10px;
    
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  .text-1{
    
    color: #FFFFFF;
  }
  .text-2{
    /* margin-top: 50px; */
    font-size: 50px;
    color: #FFFFFF;
  }

  /* discount section  start*/
  
  .text-discount{
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
  .bg-primary-1{
    font-size: 50px;
    font-weight: 700;
    color: #FF0000;
     
  }
  .bg-primary-2{
    color: #FF0000;
  }
  .bg-primary-3{
    margin-top:-10px;
    font-size: 20px;
    font-weight: 700;
  }
  .photo-happy img{
    margin-top:-30px;
    padding: 10px 20px;
    margin-left: 80px;
    width: 60%;
    height: 200px;
    
  }
    /* discount section  end*/
